<div class="groups">
  <nav-bar></nav-bar>
  <div class="page-content">
    <div class="create-group">
      <button>Create New Group</button>
    </div>
    <div class="current-group">
      <h2> {{ user.currentGroup.name }} </h2>
      <div ng-repeat="user in data.users | orderBy:'-timestamp'" class="user">
      <!-- Add styling -->
        <div> {{ user.displayName }} </div>
      </div>
    </div>
    <div class="group-list">
      <div ng-repeat="group in data.groups | filter: filterGroups(group) | orderBy:'-timestamp'" class="group">
      <!-- Add styling -->
        <div> {{ group.name }} </div>
      </div>
    </div>
  </div>
  <!-- groups nav here -->
</div>