<div class="groups-settings">
  <nav-bar banner="{{newBanner}}"></nav-bar>
  <div class="page-content">

     <modal-dialog class="modal banner-dialog" width="80%" show="bannerModalShown">
      <div class='progress-bar' ng-style="{width: file.progressPercentage + '%'}"></div>
      <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" area-type="rectangle" result-image-size="'max'" area-min-size=10 aspect-ratio="12" ng-init="croppedDataUrl=''">
      <div>{{file.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</div>
        </img-crop>
      </div>
      <button ng-disabled="file.status === 'UPLOADING'" ng-click="upload(croppedDataUrl, picFile.name)">Upload image</button>
    </modal-dialog>


    <h2 class="heading">Group Settings for {{ user.currentGroup.name }}</h2>
    <div class="form-container group-form-container">
      <form name="updateForm">
        <fieldset>
          <legend>group info</legend>
          <label>Group name:
            <input type="text" ng-model="group.name" placeholer="group name" />
          </label>
          <div class="form-buttons">
            <button ng-click="updateGroupProfile()">Update Group</button>
          </div>
        </fieldset>
      </form>
      <form name="inviteForm">
        <fieldset>
          <legend>invite someone</legend>
          <label>
            <input name="invite" ng-model="invite" placeholder="email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required/>
          </label>
          <div class="form-buttons">
            <button ng-click="sendInvite()" ng-disabled="inviteForm.$invalid || sendingInvite">
              {{inviteButtonText}}
            </button>
          </div>
        </fieldset>
      </form>
      <!-- Code for crop file uploader -->
      <form name="bannerForm">
        <fieldset>
          <legend>Change your banner</legend>
          <div class="form-buttons">
           <button type="file" ng-model="picFile" ngf-select="showBannerModal($file, $invalidFiles)" accept="image/*" >Change <i class="fa fa-upload"></i></button>
       <!--      <button ngf-select ng-model="picFile" accept="image/*">Select Banner Image</button> -->
            <!-- <button ng-click="upload(croppedDataUrl, picFile.name)">Upload image</button> -->
            <button ng-click="removeBanner()">Remove Banner</button>

          </div>
<!--           <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
          <span ng-show="result">Upload Successful</span>
          <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
          <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" area-type="rectangle" result-image-size="{w:1000, h:200}" aspect-ratio="5" ng-init="croppedDataUrl=''">
            </img-crop>
          </div> -->
          <div>
            <img ng-src="{{croppedDataUrl}}" />
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <footer>
    <player></player>
  </footer>
</div>
