/**************************************************
 * COLOR VARIABLES
 **************************************************/
$black: #000; // black
$white: #fff; // white
$reallylightgrey: #f2f2f2;
$lightgrey: #d1d1d1; 
$midgrey: #999;
$reallydarkgrey: #222;
$darkgrey: #555;
$bgcolor: #FAFCFC; // light desaturated bluegreen
$bgcolor-2: #385E8A; // dark greyblue
$textcolor: $darkgrey;
$textcolor-2: #FBFBFB; // super light grey 
$textcolor-3: #5C86B8; // lighter greyblue
$linkcolor: #99D1B2;  // greygreen
$red: #ed5e5e; // greyred
