/**************************************************
 * COLOR VARIABLES
 **************************************************/
$white: #fff;
$lightgrey: #d1d1d1;
$midgrey: #999;
$darkgrey: #555;
$bgcolor: #FAFCFC;
$bgcolor-2: #385E8A;
$textcolor: $darkgrey;
$textcolor-2: #FBFBFB;
$textcolor-3: #5C86B8;
$linkcolor: #99D1B2;
$red: #ed5e5e;
