@import "colors";

// The draghandle
$thumb-color: $linkcolor !default;

$thumb-radius: 0 !default;
$thumb-height: 1.5rem !default;
$thumb-width: 0.5rem !default;

$thumb-border-width: 1px !default;
$thumb-border-color: $midgrey !default;

$thumb-shadow-size: 0 !default;
$thumb-shadow-blur: 1px !default;
$thumb-shadow-color: rgba(0, 0, 0, 0) !default;

// The range
$track-color: rgba(33, 33, 33, 0.5) !default;

$track-radius: 0 !default;
$track-width: auto !default;
$track-height: 0.5rem !default;

$track-border-width: 0 !default;
$track-border-color: $linkcolor !default;

$track-shadow-size: 1px !default;
$track-shadow-blur: 1px !default;
$track-shadow-color: rgba(0, 0, 0, 0) !default;

@mixin shadow($shadow-size, $shadow-blur, $shadow-color) {
    box-shadow: $shadow-size $shadow-size $shadow-blur $shadow-color, 0px 0px $shadow-size lighten($shadow-color, 5%);
}

@mixin track ($width:$track-width, $height:$track-height) {
    width: $width;
    height: $height;
    cursor: pointer;
    animate: 0.2s;
}

@mixin thumb ($width:$thumb-width, $height:$thumb-height, $color:$thumb-color) {
    @include shadow($thumb-shadow-size, $thumb-shadow-blur, $thumb-shadow-color);

    border: $thumb-border-width solid $thumb-border-color;
    height: $height;
    width: $width;
    border-radius: $thumb-radius;
    background: $color;
    cursor: pointer;
}

@mixin input-type-range ($thumbwidth:$thumb-width, $thumbheight:$thumb-height, $thumbcolor:$thumb-color, $trackwidth:$track-width, $trackheight:$track-height, $trackcolor:$track-color) {
    -webkit-appearance: none;
    background: transparent;
    width: $trackwidth;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-runnable-track {
        @include track($trackwidth, $trackheight);

        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);

        background: $trackcolor;
        border-radius: $track-radius;
        border: $track-border-width solid $track-border-color;
    }

    &::-webkit-slider-thumb {
        @include thumb($thumbwidth, $thumbheight);

        -webkit-appearance: none;
        margin-top: (-$track-border-width * 2 + $trackheight) / 2 - $thumbheight / 2;
    }

    &:focus::-webkit-slider-runnable-track {
        background: $trackcolor;
    }

    &::-moz-range-track {
        @include track($trackwidth, $trackheight);

        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);

        background: $trackcolor;
        border-radius: $track-radius;
        border: $track-border-width solid $track-border-color;
    }

    &::-moz-range-thumb {
        @include thumb($thumbwidth, $thumbheight);
    }

    &::-ms-track {
        @include track($trackwidth, $trackheight);

        background: transparent;
        border-color: transparent;
        border-width: $thumb-width 0;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: $trackcolor;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;

        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    }

    &::-ms-fill-upper {
        background: $trackcolor;
        border: $track-border-width solid $track-border-color;
        border-radius: $track-radius * 2;

        @include shadow($track-shadow-size, $track-shadow-blur, $track-shadow-color);
    }

    &::-ms-thumb {
        @include thumb($thumbwidth, $thumbheight);
    }

    &:focus::-ms-fill-lower {
        background: $trackcolor;
    }

    &:focus::-ms-fill-upper {
        background: $trackcolor;
    }
}