/*jam styling*/

/**************************************************
 * COLOR VARIABLES
 **************************************************/
$white: #fff;
$lightgrey: #d1d1d1;
$midgrey: #999;
$darkgrey: #555;
$bgcolor: #FAFCFC;
$bgcolor-2: #385E8A;
$textcolor: $darkgrey;
$textcolor-2: #FBFBFB;
$textcolor-3: #5C86B8;
$linkcolor: #99D1B2;
$red: #ed5e5e;

/**************************************************/
// TODO: Adjust nav bar for mobile use
// Starting example below:

$mobileBreakpoint: 400px;

.pagewidth {
  @media screen and (min-width: $mobileBreakpoint) {
    // do things if screen size is under $mobileBreakpoint width
  }
}

/**************************************************/


$nav-height: 3em;

html {
  box-sizing: border-box;
  font-family: sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  $red: random(256)-1;
  $green: random(256)-1;
  $blue: random(256)-1;
  $alpha: random(100)/100;

  // background-color: rgba($red, $green, $blue, $alpha);
  background-color: $bgcolor;
  color: $textcolor;
  margin:0;
  padding:0;
}

a, a:visited, a:active {
  text-decoration: none;
  transition: color 0.2s ease;
  color: $linkcolor;
}

a:hover {
  color: $lightgrey;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  width:100%;
  position:fixed;
  height: $nav-height;
  color: $textcolor-2;
  background-color: $bgcolor-2;
  background-size: cover;
  z-index: 99;
}
nav ul {
  display: block;
  text-align: right;
  padding: $nav-height * 0.1;
  background-color: rgba(64,64,64,0.7);
}

.form-container {
  margin: 4em auto;
  width: 100%;
  text-align:center;
}

.group-form-container form {
  display: inline-block;
  margin:0.5em;
  fieldset {
    padding: 1em;
  }
}
.form-buttons {
  margin-bottom: 1em;
}
.field-error {
  font-size: 0.8em;
  color: $red;
  height: 1em;
  margin-top: 0.25em;
}
.login-form fieldset {
  text-align: left;
}

.elipsis-end {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-title {
  float: left;
}
.nav-item {
  position: relative;
  display: inline-block;
  margin: 0 1em;
}

.nav-spacer {
  width: 100%;
  height: $nav-height;
}

.nav-avatar-img {
  height: $nav-height * 0.8;
  width: $nav-height * 0.8;
  border-radius: 50%;
  vertical-align: middle;
}
.current-avatar {
  max-width: 100px;
  max-height: 100px;
  text-align:center;
  overflow: hidden;
  margin: 1em;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
li:hover > .submenu-container {
  display: block;
  position:absolute;
  top: 0;
  right: 0;
  padding-top: $nav-height;
}
.submenu-container {
  display: none;
}
.submenu {
  background-color:rgba(64,64,64, 0.75);
}
.submenu li {
  margin: 0.2em;
  padding: 0.25em 0.5em;
  display: block;
}
.menu-category {
  text-transform: uppercase;
  font-size: 1.15em;
}
.page-content {
  max-width: 1024px;
  margin: 0 auto; 
  clear: both;
  padding: 1em;
  // text-align: center;
}

.empty-placeholder {
  text-align: center;
  border: 3px $linkcolor dashed;
  margin: 2em auto;
  padding: 3em;
  font-size: 2em;
  border-radius: 2em;
  line-height: 1.6;
  color: $midgrey;
}


.upload-button:hover {
  background: $red;
}
.upload-button:active {
  background: white;
}




/* Song View  Brian's mods */
.song-item {
  border: 1px red solid;
}

.songViewTextArea {
  float: right;
  border: 1px solid blue;
}
/**/
.song {
  margin-top: 2em;
}

.song-buttons, .refresh-button {
  float:right;
}

.song-thumbnail {
  display: inline-block;
  height: 3em;
  width: 3em;
  overflow: hidden;
  float: left;
}
.song-thumbnail img {
  max-width: 100%;
}
.song-player {
  display: inline-block;
  margin: 0 0.5em;
  color: $bgcolor-2;
}
.song-title {
  font-size: 1.25em;
}

.upload-item {
  width: 100%;
  margin: 0.5em auto;
  padding: 0.5em;
  position: relative;
  text-transform: lowercase;
  .eachProgressBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $red;
    color: $red;
    box-shadow: 0 0 10px 0; /* Inherits the font color */

    /* Add CSS3 styles for transition smoothing */
    transition: all 0.3s ease-in-out;
  }
}

.upload-info {
  margin: 1em;
  font-style: italic;
  color: $textcolor-3;
}
.file-info {
  margin: 0.5em 0;
}
.error {
  color: $red;
}

.success {
  color: $linkcolor;
}



.profile-section {
  display: inline-block;
  margin: 0 1em;
  text-align: right;
  vertical-align: top;
  header {
    font-size: 1.5em;
  }
}


.drop-box {
  border: dotted 2px black;
}
.drop-box:hover {
  border: dotted 4px black;
}

/* for the modal */
.modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  // width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.modal-dialog-content {
  padding:2em 1em 1em 1em;
  text-align: left;
}
.modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  // font-family: 'arial', 'sans-serif';
}

.new-playlist-fieldset {
  text-align: right;
}

/* For the banner crop uploader */
.cropArea {
  overflow: hidden;
  width: 500px;
  height: 500px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}



.group {
  background-color: $bgcolor-2;
  color: $white;
  width: 60%;
  height: 8vh;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 18pt;
  text-align: center;
  padding: 12px;
}

.group:hover {
  background-color: #004080;
}

.users-container {
  display: block;
  width: 60%;
  margin: 0 auto 0 auto; 
  border: 1px, solid, black;
  background-color: #f1f1f1;
  height: 15vh;
}

.user-container {
  top: 1vh;
  display: inline-block;
  position: relative;
  float: left;
  background-color: #2585ae;
  color: $darkgrey;
  width: 13vh;
  margin: 0 2% 0 2%;
  text-align: center;
  padding: 10px 2px 10px 2px;
  border-radius: 50%;
  height: 13vh;
}

.badge {
  position: absolute;
  top: -25%;
  left: 15%;
  background-color: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 0.8em;
}

.invite-icon {
  position: relative;
  top: -125%;
  float: right;
}

/* Forms and buttons - taken and modified from http://getskeleton.com/
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 2rem;
  padding: 0 1rem; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $white;
  border: none;
  border: 1px solid $lightgrey;
  color: $textcolor;
  font-size: 1rem;
  // border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $linkcolor;
  outline: 0; }
label {
  display: block;
  margin-bottom: 1em;
}
legend {
  text-align: left;
  // display: block;
  // margin-bottom: .5rem;
   font-weight: bold;
  }
fieldset {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid $linkcolor;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 2rem;
  padding: 0 1rem;
  color: $white;
  text-align: center;
  font-size: 1rem;
  // font-weight: 600;
  // line-height: 2em;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: $linkcolor;
  // border-radius: 4px;
  border: 1px solid $lightgrey;
  cursor: pointer;
  transition: color 0.2s ease;
 }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $midgrey;
  border-color: $linkcolor;
  outline: 0;
}

.button:disabled,
button:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="button"]:disabled,
.button:disabled:hover,:hover
button:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover,
input[type="button"]:disabled:hover {
  background-color:$lightgrey;
  color: $midgrey;
  border-color:$lightgrey;
}


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  // color: $white;
  // background-color: $textcolor-2;
  border-width: 5px;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  // color: #FFF;
  // background-color: #1EAEDB;
  border-color: $midgrey;
  border-width: 5px;
}

input.ng-invalid.ng-dirty {
  border: 1px solid $red !important;

}
.icon-button, .icon-button:active {
  padding: 0;
  margin: 0 0.25em;
  font-size: 1.25em;
  color: $linkcolor;
  border:none;
  background:none;
}
.icon-button:disabled,
.icon-button:disabled:hover,
:hover .icon-button:disabled:hover, {
  border:none;
  background:none;
  cursor:default;
}

.cancel, .cancel:active {
  color: $linkcolor;
  text-transform: lowercase;
  display: block;
  margin: 0 auto;
  text-size: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  color: $textcolor-2;
  background-color: $bgcolor-2;
  width: 100%;
}

.player div {
  float: left;
  padding: 0.5rem 1rem;
}

.player button {
  width: 55px;
}

.clickable-playlist {
  margin-top: 1rem;
}

.animate-show {
  // opacity:1;
  max-height: 200px;
  overflow: hidden;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all 0.25s ease;
}

.animate-show.ng-hide {
  // opacity:0;
  max-height:0;
}