/*jam styling*/

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  $red: random(256)-1;
  $green: random(256)-1;
  $blue: random(256)-1;
  $alpha: random(100)/100;

  background-color: rgba($red, $green, $blue, $alpha);
}

ul.nav {
  list-style: none;
}

ul.nav a {
  display: block;
  width: 15em;
}