/*jam styling*/

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  $red: random(256)-1;
  $green: random(256)-1;
  $blue: random(256)-1;
  $alpha: random(100)/100;

  background-color: rgba($red, $green, $blue, $alpha);
}

ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav a {
  float: right;
  display: inline;
  width: 5em;
  top: 0;
}

.nav-name {
  display: inline;
  top: 0;
  text-align: center;
}

.avatar-img {
  width: 100px;
  height: 100px;
  float: left;
  display: inline-block;
}

.page-content { 
  clear: both;
  padding: 1em;
}

.button {
  border: solid 1px red;
}

.button:hover {
  background: red;
}
.button:active {
  background: white;
}

.drop-box {
  border: dotted 2px black;
}
.drop-box:hover {
  border: dotted 4px black;
}