<div class="songs page-content">
  <nav-bar></nav-bar>
  <div class="page-content">
    <div class='message'>{{message}}</div>
    <h2 class="heading">Songs</h2>
    <label for="search">Search: </label>
    <input ng-model="query" type="text" name="search" />
    <button class="refresh-button" ng-click="refreshSongs()">refresh</button>
    <div ng-repeat="song in data.songs | filter:query | orderBy:'-timestamp'" class="song">
      <hr>
      <div class="info">
        <song-view song="song" songList="data.songs" index="$index" ></song-view>
        <button ng-click="addToPlaylist(song)">Add to Playlist</button>
      </div>
    </div>
    <groups-nav></groups-nav>
  </div>
</div>