<div class="song-item">
  <div class="song-thumbnail"><img ng-src="{{ song.imageUrl + '.jpg'}}" ng-show="song.imageUrl"/></div>
  <!-- <div class="song-player"> -->
    
    <div><input class="song-title" type="textarea" value="{{ song.title }}"></input></div>
    
    <audio controls>  
      <source ng-src="{{song.sourceUrl}}" >
      Your browser does not support the audio tag.
    </audio>

    <div class="songViewTextArea">
      <textarea
        
      ></textarea>
    </div>

		<form name="addCommentForm"> 
      <input ng-model="comment.time" placeholder="time"/>
     	<input ng-model="comment.note" placeholder="comment"/>
      <button ng-click="addComment(song.id)">Add Comment</button>
    </form>
  <!-- </div> -->
  <!-- <div> Description: {{ song.description }}</div> -->
</div>
