<div id='container'>
  <!-- Your html here -->
  <div class="navigation">
    <nav-bar ng-click="logout()"></nav-bar>  
    <ul class="nav">
      <li><a class="nav-link" href="/#/profile">Profile!</a></li>
      <li><a class="nav-link" href="/#/upload">Upload!</a></li>
    </ul>
  </div>

  <label for="search">Search: </label>
  <input ng-model="query" type="text" name="search" />
  <div ng-repeat="song in data.songs | filter:query | orderBy:'-timestamp'" class="song">
    <div class="info">
      <div class="title"> {{ song.title }} </div>
    </div>
  </div>
</div>