<div class="upload">

<div class="button" ngf-select="addToQueue($files)" multiple="multiple">Choose Files</div>

<ul>
  <li ng-repeat="file in queue">
    {{ file.name }}
    <button ng-click="upload(file)">Upload</button>
    <button ng-click="removeFile($index)">Remove</button>
    <div>{{file.progressPercentage}}</div>
    <!-- progress -->

  </li>
</ul>
<button ng-show="queue.length > 0" ng-click="uploadFiles()">Upload All!</button>
<p>{{uploadingCount}}</p>

<!-- Currently UPloading: {{uploadingCount}} -->

<!--   Drop File:
<div ngf-drop="addToQueue($files)" class="drop-box"
  ngf-drag-over-class="'dragover'" ngf-multiple="true" 
  ngf-pattern="">Drop Images or PDFs files here</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->

<!-- Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'"> -->
<!-- Audio preview: <audio controls ngf-src="file"></audio> -->
<!-- Video preview: <video controls ngf-src="file"></video> -->
</div>