<nav-bar></nav-bar>
<div class="upload">
  <div class="page-content">
    <button class="button" ngf-select="addToQueue($files)" multiple="multiple" accept="audio/*">Choose Files <i class="fa fa-files-o"></i></button>
    <button class="upload-button" ng-show="queue.length > 0" ng-click="uploadFiles()">Upload All!</button>
    <button class="upload-button" ng-show="queue.length > 0" ng-click="cancelAll()">Cancel All</button>
      <div ng-show="queue.length === 0" class="empty-placeholder">
        click the button above to add files for uploading 
      </div>
    <ul>
      <li ng-repeat="file in queue">
        <section class="upload-item">
          <div class='progress-bar' ng-class="{'complete' : file.progressPercentage === 100}" ng-style="{width: file.progressPercentage + '%'}"></div>
          <div class="file-info">
            <button class="edit-button icon-button" ng-disabled="file.status !== 'READY'" title="edit file info" ng-click="file.editing = !file.editing"><i class="fa fa-pencil"></i></button>
            <input class="song-title" ng-model="file.displayName" ng-show="file.editing" type="text" />
            <span class="song-title" ng-hide="file.editing">{{ file.displayName }}</span>
            <span class="upload-info" ng-show="file.status === 'READY'">Ready to upload</span>
            <span class="upload-info" ng-show="file.status === 'UPLOADING'">Uploading... {{file.progressPercentage}}%</span>
            <span class="upload-info success" ng-show="file.status === 'COMPLETE'">Upload Complete</span>
            <span class="upload-info error" ng-show="file.status === 'ERROR'">Error Uploading :(</span>
            <span class="upload-info error" ng-show="file.status === 'CANCELLED'">Upload Cancelled</span>
          </div>
          <div class="form-buttons">
            <button ng-disabled="file.status === 'UPLOADING' || file.status==='COMPLETE'" ng-click="upload(file)">
              <span ng-hide="file.status === 'CANCELLED'">Upload <i class="fa fa-upload"></i></span>
              <span ng-show="file.status === 'CANCELLED'">Retry <i class="fa fa-refresh"></i></span>
            </button>
            <button ng-disabled="file.status === 'UPLOADING'" ng-click="removeFile($index)">Remove <i class="fa fa-trash"></i></button>
            <button ng-show="file.status === 'UPLOADING'" ng-click="cancelUpload(file)">Cancel <i class="fa fa-ban"></i></button>
          </div>
          <!-- progress -->
        </section>
      </li>
    </ul>
    <!-- Currently UPloading: {{uploadingCount}} -->
    <!--   Drop File:
    <div ngf-drop="addToQueue($files)" class="drop-box"
    ngf-drag-over-class="'dragover'" ngf-multiple="true" 
    ngf-pattern="">Drop Images or PDFs files here</div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> -->
    <!-- Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'"> -->
    <!-- Audio preview: <audio controls ngf-src="file"></audio> -->
    <!-- Video preview: <video controls ngf-src="file"></video> -->
  </div>
  <footer>
    <player></player>
  </footer>
</div>
