<nav-bar></nav-bar>
<div class="profile">
  <div class="page-content">
    <h2 class="heading">Profile<span class="small"> - update your stuff</span></h2>
    <form name="profileForm">
      <!-- Code for ng-file-uploader -->
      <section class="profile-section">
        <fieldset>
          <legend>avatar</legend>
          <div class="current-avatar"><img ng-src="{{user.avatarURL}}" alt="current avatar"></div>
          <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-resize="{width: 100, height: 100}">
            Change <i class="fa fa-upload"></i></button>
          <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
              <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
            </span>
          </div>
          {{errorMsg}}
          <!-- Code for ng-file-uploader -->
        </fieldset>
      </section>
      <section class="profile-section">
        <fieldset>
          <legend>info</legend>
          <label>name
            <input type='text' ng-model='user.displayName' placeholder='Name' />
          </label>
          <label>email
            <input type='text' ng-model='user.email' placeholder='Email' />
          </label>
          <button type='submit' ng-click='updateProfile();'>Update</button>
        </fieldset>
      </section>
    </form>
  </div>
</div>
