<nav-bar></nav-bar>
<div class="song">
  <div class="page-content">
    <div> 
    <a href='/#/songs/'><button class="icon-button accent-color"><i class="fa fa-arrow-left fa-2x"></i></button></a>
    </div>
    <song-view song="song" index="0" ></song-view>

    <!-- <header class="song-title">
      <button class='icon-button' ng-click="togglePlay()">
        <i class="fa fa-2x" ng-class="{ 'fa-play : audio.paused, 'fa-pause': !audio.paused }"></i>
      </button>
      {{ song.title }}
    </header> -->
    <div class="song-visualizer">
      <div class="waveform-container" ng-click="setPlayTime($event)"></div>
      <div class="comment-pin-container">
        <div class="pin-container" ng-show="!pinningComment"></div>
        <input min="0" max="1" step="0.01" type="range" style="width:{{width}}" ng-model="commentTime" ng-show="pinningComment" class="comment-slider"/>
        <div class="selected-comment-container" ng-show="commentSelected()">
          <div class="selected-comment"></div>
        </div>
      </div>
    </div>
    <br>
    <div class="comments-container">
      <div class="comments">
        <div class="comments-header"> Comments </div>
        <div ng-repeat="comment in comments" ng-mouseover="setSelectedComment(comment)">
          <img class="nav-avatar-img comment" ng-src="{{user.avatarURL}}" alt="avatar">
          <p class="comment">{{ comment.note }} @ {{ comment.time }}</p>
        </div>
      </div>
      <div class="add-comment-container">
        <div class="add-comment"> Add Comment </div>
        <div class="add-comment" ng-click="pinComment()">
          <i class="fa fa-map-pin"></i>
        </div>
        <form>
          <input type="text" ng-model="comment">
          <button ng-click="addComment(comment)"> Submit </button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
  <footer>
    <player></player>
  </footer>
</div>