  <nav-bar></nav-bar>
  <div class="playlist page-content">
    <h2>Playlist</h2>
    <div class="create-playlist">
      <button ng-click="toggleModal()">Create New Playlist</button>
      <modal-dialog show="modalShown">
        <form name="createPlayForm"> 
          <label>title </label><input ng-model="newPlaylist.title" required/>
          <label>description </label><input ng-model="newPlaylist.description"/>
          <button ng-click="createPlaylist()" ng-disabled="createPlayForm.$invalid">Create Playlist</button>
        </form>
      </modal-dialog>
    </div>
     <div ng-show="data.playlists.length === 0" class="empty-placeholder">
        Your group doesn't have any playlists. Click the button above to create one.
      </div>
    <div ng-repeat="playlist in data.playlists" ng-click="makeCurrent(playlist)">
      <button class="delete-button icon-button" title="delete playlist" ng-click="deletePlaylist(playlist)"><i class="fa fa-trash fa-lg"></i></button>
      <div>{{playlist.title}}</div>
    </div>
    <div ng-repeat="song in data.currentPlaylist.songs" class="song">
      <hr>
      <button class="delete-button icon-button" title="delete song" ng-click="deleteSong($index)"><i class="fa fa-trash fa-lg"></i></button>
      <div class="info">
        <song-view song="song" index="$index" ></song-view>
      </div>
    </div>
  </div>
  <footer>
    <player></player>
  </footer>
