<div id='container'>
  <!-- Your html here -->
  <div class="navigation" ng-controller="AuthController as auth">
    <ul>
      <li><a href="/#/songs" class="selected">songs</a></li>
      <li><a href="/#/shorten">Shorten</a></li>
    </ul>
    <ul class="logout">
      <li><a href="" ng-click="signout()">Log Out</a></li>
    </ul>  
  </div>

  <label for="search">Search: </label>
  <input ng-model="query" type="text" name="search"></input>
  <div ng-repeat="song in data.songs | filter:query | orderBy:'-timestamp'" class="link">
    <div class="info">
      <div class="title"> {{ song.title }} </div>
    </div>
  </div>
</div>
